<a href="https://colab.research.google.com/github/adrien-simard/adrien-simard-football-dataset/blob/master/worldplayer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from bs4 import Comment
import pandas as pd
from bs4.element import Tag

In [0]:
def getPlayers(Html,div):
  html = urlopen(Html)
  html_soup = BeautifulSoup(html, 'html.parser')
  rows = html_soup.findAll("div",id="all_stats_standard")
  comments =rows[0].findAll(string=lambda text: isinstance(text, Comment))
  for c in comments:
    c.extract()

  sp = BeautifulSoup(c, 'html.parser')
  l = sp.table.tbody.findAll("tr")
  players = []
  for row in range(len(l)):
    if l[row].a!=None :
      player4 = {
                  "name": l[row].a.text,
                  "Nation": l[row].findAll("td",class_="left")[1].text,
                  "Pos": l[row].findAll("td",class_="center")[0].text,
                  "Squad": l[row].findAll("td",class_="left")[2].text,
                 "division": div,
                  "Age": l[row].findAll("td",class_="center")[1].text,
                  "Born": l[row].findAll("td",class_="center")[2].text,
               "MP" : l[row].findAll("td",class_="right")[0].text,
               "Starts" : l[row].findAll("td",class_="right")[1].text,
               "Min" : l[row].findAll("td",class_="right")[2].text,
               "Gls" : l[row].findAll("td",class_="right")[3].text,
               "Ast" : l[row].findAll("td",class_="right")[4].text,
               "PK" : l[row].findAll("td",class_="right")[5].text,
               "PKatt" : l[row].findAll("td",class_="right")[6].text,
               "CrdY" : l[row].findAll("td",class_="right")[7].text,
               "CrdR" : l[row].findAll("td",class_="right")[8].text,
               "Gls/90" : l[row].findAll("td",class_="right")[9].text,
               "Ast/90" : l[row].findAll("td",class_="right")[10].text,
               "G+A" : l[row].findAll("td",class_="right")[11].text,
               "G-PK" : l[row].findAll("td",class_="right")[12].text,
               "G+A-PK" : l[row].findAll("td",class_="right")[13].text,
              }
      players.append(player4)
  return players

In [0]:
#england
df1 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/9/stats/Premier-League-Stats",1))
df2 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/10/stats/Championship-Stats",2))
df3 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/15/stats/League-One-Stats",3))
df4 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/16/stats/League-Two-Stats",4))
df5 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/34/stats/National-League-Stats",5))
tot = pd.concat([df1,df2,df3,df4,df5])
tot[1:-1].to_csv("ENplayers.csv", encoding="utf-8-sig")

In [0]:
#deutch
df12 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/12/stats/La-Liga-Stats",1))
df22 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/17/stats/La-Liga-2-Stats",2))
df13 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/20/stats/Bundesliga-Stats",1))
df23 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/33/stats/2-Bundesliga-Stats",2))
df33 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/59/stats/3-Liga-Stats",3))
dfy3 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/850/stats/U19-Bundesliga-Stats","U19"))

In [0]:
#france
df14 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/13/stats/Ligue-1-Stats",1))
df24 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/60/stats/Ligue-2-Stats",2))

In [0]:
#italia
df15 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/11/stats/Serie-A-Stats",1))
df25 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/18/stats/Serie-B-Stats",2))

In [0]:
#Argentine
df16 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/21/stats/Superliga-Argentina-Stats","1 arg"))
#austria
df27 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/56/stats/Austrian-Bundesliga-Stats","1 austria"))
#brasil
df18 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/24/stats/Serie-A-Stats",1))
df28 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/38/stats/Serie-B-Stats",2 ))

In [0]:
tot = pd.concat([df1,df2,df3,df4,df5,df12,df22,df13,df23,df14,df24,df15,df25,df16,df27,df18,df28])

In [0]:
tot[1:-1].to_csv("worldplayers.csv", encoding="utf-8-sig")

In [12]:
df = pd.read_csv('worldplayers.csv')
s =df.loc[ (df['Age']<=20) & (df['Gls']>=10)]
df.sort_values(by=["Gls"]).tail(30)
df.loc[(df['Age']<21)].tail(10)
df.loc[(df['Pos']== 'MF')&(df['Ast']>=7) & (df['Gls']>=4)].sort_values(by=["G+A"])

      Unnamed: 0                    name   Nation  ...   G+A  G-PK G+A-PK
759          268           Jack Harrison  eng ENG  ...  0.34  0.14   0.34
1902          73              Ryan Broom  wal WAL  ...  0.46  0.25   0.46
2172         343               Nicky Law  eng ENG  ...  0.50  0.18   0.43
955          464     Bright Osayi-Samuel  eng ENG  ...  0.51  0.20   0.51
1092         601              John Swift  eng ENG  ...  0.51  0.17   0.51
2511         682        Randell Williams  eng ENG  ...  0.54  0.15   0.54
699          208            Eberechi Eze  eng ENG  ...  0.55  0.22   0.44
8761         177                    Dudu   br BRA  ...  0.56  0.26   0.56
3845         107           Álvaro Cejudo   es ESP  ...  0.63  0.34   0.63
9443         141               Claudinho   br BRA  ...  0.63  0.25   0.60
1378         209            Scott Fraser  sco SCO  ...  0.63  0.20   0.63
6417           8            Luis Alberto   es ESP  ...  0.67  0.13   0.63
1104         613              Lee Tomlin  eng ENG  ...  0.70  0.35   0.70
9185         601          Carlos Sánchez   uy URU  ...  0.78  0.30   0.63
3899         161            Adri Embarba   es ESP  ...  0.84  0.19   0.70
100          101         Kevin De Bruyne   be BEL  ...  1.04  0.33   1.04
8735         151  Giorgian De Arrascaeta   uy URU  ...  1.33  0.59   1.28

[17 rows x 22 columns]